<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
<div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">测试结果</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p style="text-align: center"><label>题干</label></p></td>
            <td><p style="text-align: center"><label>答案</label></p></td>
            <td><p style="text-align: center"><label>你的答案</label></p></td>
            <td><p style="text-align: center"><label>用时</label></p></td>

        </tr>
        {% for item in data %}
            <tr>
                <td><p style="text-align: center"><label>{{ item.which_angel }}</label></p></td>
                <td><p style="text-align: center"><label>{{ item.right }}</label></p></td>
                <td><p style="text-align: center"><label>{{ item.wrong }}</label></p></td>
                <td><p style="text-align: center"><label>{{ item.total }}</label></p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>